img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*Page Background color*/
  .background-color {
    background-color: #0e0f0f17;
    color: rgb(15, 15, 15, 0, 0);
    width: 100%;
  }

  #jumbotron{
    align-items: center;
  }

  img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

/*Footer*/
  .footer {
    position: fixed;
    left: 0;
    bottom:0%;
    width: 100%;
    background-color: rgb(85, 85, 85);
    color: rgb(0, 0, 0, 0, 0);
    text-align: center;
  };