/*Page Background color*/
  .background-color {
    background-color: #0e0f0f17;
    color: rgb(15, 15, 15, 0, 0);
    width: 100%;
  }

  #jumbotron{
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60");
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  img{
    align-items: center;
    vertical-align: middle;
    border-style: none;
    width: 500px;
    height: 600px;

  }


/*Footer*/
  .footer {
    position: fixed;
    left: 0;
    bottom:0%;
    width: 100%;
    background-color: rgb(85, 85, 85);
    color: rgb(0, 0, 0, 0, 0);
    text-align: center;
  };