  /*Page Background color*/
  .background-color {
    background-color: #0e0f0f17;
    color: rgb(15, 15, 15, 0, 0);
    width: 100%;
  }

  #jumbotron{
    align-items: center;
  }

  #about-me-image{
    background-image: url(/Assets/Images/homepagepic.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 600px;
  }

/*Footer*/
  .footer {
    position: fixed;
    left: 0;
    bottom:0%;
    width: 100%;
    background-color: rgb(85, 85, 85);
    color: rgb(0, 0, 0, 0, 0);
    text-align: center;
  };